.navbar {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #e4e4e7;
}

.navbar .path {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
}

.navbar .currentRoute {
  background-color: #f8f8f8;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 3px;
}

.navbar .profile {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
