.statsContainer {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
  background-color: white;
}

.statsWrapper {
  width: 95%;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.statsBox {
  flex: 1 1 calc(23% - 10px);
  height: 129px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;

  box-sizing: border-box;
}

.statsBox:not(:last-child) {
  border-right: 1px solid #ebedf0;
}
